.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D1E2E6;
  color: #1e4b55;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 3px 5px rgba(102, 101, 101, 0.3);
  z-index: 2;
  position: fixed;
  width: 100%;
}

.nav--nav-items a.active {
  color: #4D8F9D;
}

.cart-img {
  filter: invert(24%) sepia(30%) saturate(847%) hue-rotate(144deg) brightness(94%) contrast(91%);
}

.nav--nav-items {
  display: flex;
  align-items: center;
}

.link-cart>h4 {
  font-weight: 300;
  padding-left: 5px;
  color: orange;
  font-size: 0.9rem;
}

.nav--links {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-img {
  height: 20px;
}

.nav--logo {
  padding-left: 15px;
  font-size: larger;

}

.logo {
  margin: 21px;
}
