.productspage--container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100%;
}

.productpage--images {
  height: 400px;
  width: 350px;
  object-fit: cover;
  border-radius: 3px;
}

.productspage--mainimage {
  background-image: url('../components/images/productspage.jpg');
  height: 100%;
  background-size: cover;
  bottom: 0px;
}

.productspage--title {
  padding-top: 3.7rem;
  text-align: center;
  font-weight: 900;
}

.productspage--info{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.productspage--item {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productspage--details>h3,
.productspage--details>p
 {
  padding-top:5px;
  margin: 0px;
}

.productspage--details {
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.productspage--details>p {
  font-weight: 100;
  padding-left: 190px;
}

.productspage--details>h3 {
font-weight: 500;
}
