.product--image {
  height: 800px;
  width: 600px;
  object-fit: cover;
  border-radius: 70px;
  padding: 20px;
}

@media only screen and (min-width: 790px) {
  .product--container {
      display: flex;
      padding-top: 80px;
    }
}

@media only screen and (max-width: 790px) {
  .product--container {
    display: grid;
    padding-top: 80px;
  }

  .product--info {
    padding-left: 20px;
    padding-right: 20px
  }
}


.product--title {
  padding-bottom: 20px;
}
.product--price {
  font-weight: 200;
  font-size: 1.7rem;

}

.product--info {
  padding-top: 10px;
  padding-bottom: 20px;
}
.product--description {
  padding-bottom: 20px;
}

.product--btn {
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 50px;
  background-color: #1e4b55;
  color: #D1E2E6;
  font-family: 'Comfortaa';
  font-size: 1.2rem;
  cursor: pointer;

}
