/* .productspage--container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100%;

  padding-top: 20px;
  position: relative;
} */

.productpage--images {
  height: 400px;
  width: 350px;
  object-fit: cover;
  border-radius: 3px;
}

.productspage--mainimage {
  background-image: url('../components/images/productspage.jpg');
  height: 100%;
  background-size: cover;
  bottom: 0px;
}

.productspage--title {
  padding-top: 0.5em;
  text-align: center;
  font-weight: 900;
}

.productspage--info {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, auto);
  padding: 10px;
}

.productspage--item {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productspage--details>h3,
.productspage--details>p {
  padding-top: 5px;
  margin: 0px;
}

.productspage--details {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.productspage--details>p {
  font-weight: 100;
  padding-left: 190px;
}

.productspage--details>h3 {
  font-weight: 500;
}

@media (max-width: 450px) {
  .productspage--info {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .productspage--mainimage {
    visibility: hidden;
  }

  .productspage--container {
    grid-template-columns: 1fr;
  }

  .productspage--item:last-child {
    padding-bottom: 1.5em;
  }
}
